<%= form_with(model: movement, local: true) do |form| %>
  <% if movement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movement.errors.count, "error") %> prohibited this movement from being saved:</h2>

      <ul>
      <% movement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :step_uid %>
    <%= form.text_field :step_uid %>
  </div>

  <div class="field">
    <%= form.label :flow_id %>
    <%= form.text_field :flow_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
