<p id="notice"><%= notice %></p>

<p>
  <strong>Step uid:</strong>
  <%= @movement.step_uid %>
</p>

<p>
  <strong>Flow:</strong>
  <%= @movement.flow %>
</p>

<%= link_to 'Edit', edit_movement_path(@movement) %> |
<%= link_to 'Back', movements_path %>
