<h3><%= @responsible.humanize %></h3>
<br>
<table class="table table-sm">
  <thead>
    <tr>
      <th>Part number</th>
      <th>Serial number</th>
      <th>Status</th>
      <th>Responsible</th>
      <th>SLA Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @units.each do |unit|%>
      <tr>
        <td><%= unit.part_number %></td>
        <td><%= if unit.serialised then unit.serial_number else "-" end %></td>
        <td><%= if unit.open? then "Open" else "Closed" end %></td>
        <td><%= if unit.open? then unit.steps.last.responsible else "-" end %></td>
        <% if unit.steps.last.expired? %>
            <td>Expired <%= distance_of_time_in_words(unit.steps.last.expires_at, Time.now) %> ago</td>
        <% else %>
            <td>Expires in <%= distance_of_time_in_words(Time.now, unit.steps.last.expires_at) %></td>
        <% end %>
        <td><%= link_to "View", unit %></td>
      </tr>
    <% end %>
  </tbody>
</table>