<div class="row">
    <div class="col-md-10 offset-md-1">
    
        <h5>Repair Feasibility Criteria</h5>
        <ul>
            <span>Average Repair Price of the last 365 days must be:</span>
            <li>Less than 65% of the Catalog NEW Price for the current year</li>
            <li>Less than 95% of the <strong>Average Purchase Price</strong> for the current year</li>
        </ul>
        <ul>
            <span>Current Part-Number Stock Level must be:</span>
            <li>As pre-determined by CAMO Minimum Stock Level List</li>
            <li>110% of the number of total Reqs for the last 365 days</li>
        </ul>        
    </div>
</div>
<br>