<%= form_with(model: unit, local: true) do |form| %>
  <% if unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :part_number %>
    <%= form.text_field :part_number %>
  </div>

  <div class="field">
    <%= form.label :serialised %>
    <%= form.check_box :serialised %>
  </div>

  <div class="field">
    <%= form.label :serial_number %>
    <%= form.text_field :serial_number %>
  </div>
  <br>
  <fieldset>
    <legend>Movement</legend>
    <%= form.fields_for :steps do |step| %>
      <%= step.fields_for :movements do |movement| %>
        <%= movement.collection_select :flow_id, Flow.where(id: Flow.storage_starter_flows), :id, :title, prompt: true %>
      <% end %>
    <% end %>
  </fieldset>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
