<p id="notice"><%= notice %></p>

<h1>Units</h1>

<table class="table table-sm">
  <thead>
    <tr>
      <th>Part number</th>
      <th>Serial number</th>
      <th>Status</th>
      <th>Responsible</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.part_number %></td>
        <td><%= if unit.serialised then unit.serial_number else "-" end %></td>
        <td><%= if unit.open? then "Open" else "Closed" end %></td>
        <td><%= unit.responsible  %></td>
        <td><%= link_to 'Show', unit %></td>
        <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
        <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unit', new_unit_path %>
