<p id="notice"><%= notice %></p>

<p>
  <strong>Part number:</strong>
  <%= @unit.part_number %>
</p>

<p>
  <strong>Serialised:</strong>
  <%= @unit.serialised %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @unit.serial_number %>
</p>

<hr>

<h3>Steps</h3>
<br>

<div class="row">
  <div class="timeline-centered">
    <% @unit.steps.reverse_each do |step| %>
      <% colour_class = if step.open? then "secondary" else "success" end%>
      <article class="timeline-entry" step-id="<%= step.id %>">
        <div class="timeline-entry-inner">
          <div class="timeline-icon bg-<%= unless step.responsible == "System" then colour_class else "secondary" end %>">
            <i class="fas fa-<%= step.icon %>"></i>
          </div>
          <div class="timeline-label">
            <div class="row">
              <div class="col-md-6">
                <% movements = step.movements.joins(:flow).order("flows.direction") %>
                <% if step.open? %>
                  <h3 movement-flow-id="<%= movements.last.flow_id %>"><%= movements.last.flow.title %></h3>
                <% else %>
                  <p class="font-weight-light"><%= movements.first.flow.title %> <i class="fas fa-level-down-alt"></i></p>
                  <h3><%= movements.last.flow.title %></h3>
                <% end %>
              </div>
              <div class="col-md-6">
                <strong>Responsible:</strong> <%= step.responsible %><br>
                <% if step.open? %>
                  <strong>Step Status:</strong> Open<br><strong>SLA Status:</strong>
                  <br>- Time for completion: <%= distance_of_time_in_words(0, movements.last.flow.sla * 60) %>
                <% if step.expired? %>
                  <br>- SLA Already Expired. <small>Opened at: <%= step.created_at.to_formatted_s(:short)  %></small>
                  <br>- Expired At: <%= step.expires_at.to_formatted_s(:short) %> <small><%= distance_of_time_in_words(step.expires_at, Time.current) %> ago</small>
                <% else %>
                  <br>- Inside SLA. <small>Opened at: <%= step.created_at.to_formatted_s(:short)  %></small>
                  <br>- Will Expire At: <%= step.expires_at.to_formatted_s(:short) %> <small><%= distance_of_time_in_words(step.expires_at, Time.current) %> from now</small>
                <% end %>
              <% else %>
                <strong>Step Status:</strong> Closed<br><strong>SLA Status:</strong>
                <% if step.expired? %>
                  <br>- SLA Expired. <small>Opened at: <%= step.created_at.to_formatted_s(:short)  %></small>
                  <br>- Expired At: <%= step.expires_at.to_formatted_s(:short) %> <small><%= distance_of_time_in_words(step.expires_at, step.closed_at) %> delayed</small>
                <% else %>
                  <br>- SLA Accomplished. <small>Opened at: <%= step.created_at.to_formatted_s(:short)  %></small>
                  <br>- Closed At: <%= step.closed_at.to_formatted_s(:short) %> <small><%= distance_of_time_in_words(step.expires_at, step.closed_at) %> earlier</small>                
                <% end %>              
              <% end %>
            </div>
          </div>
          <br>
          <%= render "movements/descriptions/#{movements.last.flow_id}" rescue nil %>
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <% if step.open? %>
                <%= form_with(model: step.movements.build, url: [@unit, step, step.movements.build], method: :post, local: true) do |form| %>
                  <%= form.collection_select :flow_id, step.movements.first.flow.children.all, :id, :title, {prompt: true}, {class: "form-control form-control-lg", required: true} %>
                  <br>
                  <%= form.fields_for :details do |detail| %>
                    <%= render "movements/actions/#{movements.last.flow_id}", detail: detail rescue nil %>
                    <% step.movements.first.flow.children.all.each do |flow| %>
                      <div class="step details-fields d-none" id="<%= flow.id %>">
                        <% flow.movement_field.each do |field| %>
                          <%= render "movements/forms/#{field.field_type}", field: field, detail: detail %>
                        <% end %> 
                      </div>
                    <% end %>
                    <div class="form-group">
                      <%= detail.label :remarks %>
                      <%= detail.text_area :remarks, {placeholder: "Remarks for this movement", class:"form-control"} %>
                    </div>
                  <% end %>
                  <%= form.submit "Update", :class => "btn btn-primary btn-lg" %>
                <% end %>                    
              <% else %>
              <% unless movements.last.details.blank? %>
                <hr>
                <h5>Details</h5>
                <% movements.last.details.each do |key, value| %>
                  <strong><%= key.humanize %>:</strong> <%= value %><br>
                <% end %>
              <% end %>
            <% end %>
            </div>
          </div>          
        </div>
      </article>
    <% end %>
  </div>
</div>




<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
