<div class="form-group">
  <%= detail.label field.name %><br />
  <%= detail.text_field field.name, {class: "form-control", placeholder: field.name.humanize, required: field.required?, disabled: true}  %>
</div>


